body {
	background-color: #eee;
	color: #000;
	padding: 10px;
	margin: 10px;
	font-family: Verdana;
	font-size: 14px;
}
li {
	color: #333;
	font-size: 12px;
}
p {
	color: #444;
	font-size: 16px;
}