{% include "header.html" %}

	<p>Szczegóły produktu:</p>
	<hr />
	{% if prod %}
	<p>Patrzysz na produkt o id: {{ prod.id }}. <br><br> Opis produktu: <br> {{ prod.opis_prod }}.</p>
	<form method="POST" action="{% url 'dokoszyka' prod.id %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-lg btn-primary">Załaduj do koszyka</button>
	</form>
	{% else %}
		<p>Ni ma</p>
	{% endif %}

{% include "footer.html" %}
