<!DOCTYPE html>
<html>

<head>
	<!-- Dla bootstrapa -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-cerulean.css" />

	<title>Sklep internetowy</title>
</head>

<body>
<div class="container">

	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/sklep">Sklep internetowy</a>
        </div>
        <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">


			<!-- TODO -->


			<li class="active"><a href="/sklep">Strona główna</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategorie <b class="caret"></b></a>
			  <ul class="dropdown-menu">

				{% if kategoria_list %}
					{% for poziom, kategoria in kategoria_list %}
						<li style="padding-left: {% widthratio poziom 1 2 %}em"><a href="/sklep/{{ kategoria.id }}/">{{ kategoria.nazwa_kat }}</a></li>
					{% endfor %}
				{% else %}
					<li>Nie ma</li>
				{% endif %}

				<!--
				<li class="divider"></li>
				<li class="dropdown-header">Nav header</li>
				-->
			  </ul>
			</li>
			<li><a href="/sklep/osklepie/">O sklepie</a></li>
			<li><a href="/sklep/kontakt/">Kontakt</a></li>
			</ul>
				<ul class="nav navbar-nav navbar-right">



					<!-- TODO -->


            		{% if not user.is_authenticated %}
						<li><a href="/sklep/zaloguj/">Zaloguj</a></li>
					{% else %}
						<li><a href="/sklep/koszyk/">Mój koszyk</a></li>
						<li><a href="/sklep/wyloguj/">Wyloguj</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
