{% include "header.html" %}

	<div class="jumbotron">
		<h1>Witamy w sklepie internetowym</h1>
		<br>
		<p>Sklep internetowy na zaliczenie Organizacji Usług Komercyjnych w Internecie</p>
		<p></p>
		<br>


        {% if not user.is_authenticated %}
			<p>
				<a class="btn btn-lg btn-primary" href="/sklep/nowekonto/">Utwórz konto &raquo</a>
			</p>
		{% endif %}
	</div>

	<hr />

{% include "footer.html" %}