{% include "header.html" %}

	<div class="jumbotron">
		<h1>Kontakt</h1>
		<br>
		<p>Mateusz Lebioda 94332</p>
		<p>matleb@op.pl</p>


		{% if not user.is_authenticated %}
			<p>
				<a class="btn btn-lg btn-primary" href="/sklep/nowekonto/">Utwórz konto &raquo</a>
			</p>
		{% endif %}
	</div>

	<hr />

{% include "footer.html" %}