{% include "header.html" %}

<div class="jumbotron">
	{% if kosz.produktkoszykowy_set.all %}
		<p>
			Lista produktów w koszyku:
		</p>
		<hr />
		<ul>
		{% for produkt in kosz.produktkoszykowy_set.all %}
			<li><a href="/sklep/produkty/{{ produkt.produkt.id }}/">{{ produkt.produkt.nazwa_prod }}</a> - {{ produkt.ile }}</li>
		{% endfor %}
		</ul>

		<p>
			<a class="btn btn-lg btn-primary" href="/sklep/kupze/">Kup &raquo</a>
		</p>
	{% else %}
		<p>Nie masz nic w koszyku.</p>
	{% endif %}
</div>

{% include "footer.html" %}
