{% load i18n %}

{% include "header.html" %}

	<div class="jumbotron">
		<h1>Kup</h1>
		<br>
		<p>
			Takie rzeczy kupujesz:
		</p>
		<hr />
		<ul>
		{% for produkt in kosz.produktkoszykowy_set.all %}
			<li><a href="/sklep/produkty/{{ produkt.produkt.id }}/">{{ produkt.produkt.nazwa_prod }}</a> - {{ produkt.ile }}</li>
		{% endfor %}
		</ul>

		<p>Podaj dane do wysłania kupionych produktów</p>

	<form action="" method="post">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button type="submit" class="btn btn-lg btn-primary">Kupuj</button>
	</form>

	</div>

	<hr />

{% include "footer.html" %}
