{% load i18n %}

{% include "header.html" %}

	<div class="jumbotron">
		<h1>Utwórz konto</h1>
		<br>
		<p>Tutaj robisz nowe konto</p>
		<p>Podaj dane</p>

	<form action="" method="post">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button type="submit" class="btn btn-lg btn-primary">Utwórz konto</button>
	</form>

	</div>

	<hr />

{% include "footer.html" %}
