{% include "header.html" %}

	<div class="jumbotron">
		<h1>O sklepie</h1>
		<br>
		<p>Sklep na zaliczenie Organizacji Usług Komercyjnych w Internecie</p>

		{% if not user.is_authenticated %}
			<p>
				<a class="btn btn-lg btn-primary" href="/sklep/nowekonto/">Utwórz konto &raquo</a>
			</p>
			{% endif %}
	</div>

	<hr />

{% include "footer.html" %}