{% include "header.html" %}

<div class="jumbotron">
	{% if produkt_list %}
		<p>
			Lista dostępnych produktów w kategorii: <strong>{{ wybranaKategoria.nazwa_kat }}</strong>
		</p>
		<hr />
		<ul>
		{% for produkt in produkt_list %}
			<li><a href="/sklep/produkty/{{ produkt.id }}/">{{ produkt.nazwa_prod }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Ni ma dostępnych produktów</p>
	{% endif %}
</div>

{% include "footer.html" %}