{% include "header.html" %}

	<div class="jumbotron">

		{% if not user.is_authenticated %}
			<h1>Zaloguj</h1>
			<br>
			<p>Tutaj sie musisz zalogować</p>
			

			{% block content %}
			{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
			{% endif %}
			<form action="" method="post">
				{% csrf_token %}
				<table>
					{{ form.as_table }}
				</table>
				<button type="submit" class="btn btn-lg btn-primary">Zaloguj</button>
			</form>

			{% endblock %}


			<p>
			<br>
				<a class="btn btn-lg btn-primary" href="/sklep/nowekonto/">Utwórz konto &raquo</a>
			</p>
		{% else %}
			Jesteś zalogowany ! <a href="/sklep/wyloguj/">Wyloguj się.</a>
		{% endif %}
	</div>

	<hr />

{% include "footer.html" %}
