<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/static/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sklep.css" />
	<link rel="stylesheet" type="test/css" href="/static/css/bootstrap.css" />
</head>
<body>
	{% if produkt_list %}
		<p>
			Lista dostępnych produktów w kategorii: <strong>{{ wybranaKategoria.nazwa_kat }}</strong>
		</p>
		<hr />
		<ul>
		{% for produkt in produkt_list %}
			<li><a href="/sklep/produkty/{{ produkt.id }}/">{{ produkt.nazwa_prod }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Ni ma dostępnych produktów</p>
	{% endif %}
</body>
</html>